body {
  text-align: center;
}

/*
 * Modal styling for Character selection and win condition (**TODO**)
 */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(43, 36, 36, 0.8);
}

.hide {
  display: none;
}

/* .modalStart {
  position: absolute;
  top: 50%;
  left: 25%;
  height: 50%;
  width: 50%;
  z-index: 2;
  background-color: aliceblue;
} */

.modalWin {
  position: fixed;
  top: 25%;
  left: 25%;
  height: 50vh;
  width: 50vw;
  z-index: 2;
  background-color: aliceblue;
  border-radius: 5px;
}

/* .player {
  text-decoration: none;
} */
